<header class="header">
  <div class="container header-container">
    <nav class="site-nav">
      <a class="logo" href="./index.html"
        ><svg width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use></svg
        >Filmoteka</a
      >
      <ul class="site-nav_list">
        <li>
          <a href="./index.html" class="site-nav_link current-page">Home</a>
        </li>
        <li><a href="./library.html" class="site-nav_link">My Library</a></li>
      </ul>
    </nav>
    <form class="search-form">
      <label>
        <input
          class="search-form_input"
          type="text"
          name="text"
          placeholder="Movie search"
        />
      </label>
      <button class="search-form_button">
        <svg width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
